body{
    margin: 0;
    padding: 0;
}

/* Admin Pengaturan */
.container-hero {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.container-pengaturan {
    margin-left: 10%;
    margin-right: 10%;
}

.header-pengaturan {
    display: flex; 
    justify-content: space-between; 
    text-align: center;
}

.admin-text-hero {
    background-color: #703BF7;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    border-radius: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.form-item label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-item input {
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-item textarea {
    font-size: 14px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-group-picture {
    width: 25%;
}

.btn-pengaturan {
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.btn-simpan {
    background-color: #703BF7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 5px;
    width: 150px;
}

.btn-batal {
    background-color: #FF0000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px;
    width: 150px;
}

