
.container-admin-pengaturan {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.container-admin-tentang {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.slice-container {
    justify-content: center;
    gap: 50px;
    display: flex;
    width: 100%;
}

.container {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;


}

.page-title {
    text-align: center;
}


.page-title-2 {
    text-align: center;
    background-color: #703BF7;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.slice-up-admin-tentang {
    justify-content: grid;
}

.slice-up-admin-tentang {
    justify-content: space-between;

    display: flex;
}

.image-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 90px;
    margin-bottom: 10px;
}

.slice-up-right {
    padding-left: 5%;
    flex: 2;
}

.form-field {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-admin-tentang {
    text-align: right;
    margin-right: 15%;
}

.btn-simpan-admin {
    text-decoration: none;
    border: 2px solid black;
    color: white;
    background-color: #703BF7;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-upload-admin {
    text-decoration: none;
    border: 2px solid black;
    color: white;
    background-color: #703BF7;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-batal-admin {
    text-decoration: none;
    border: 2px solid black;
    color: white;
    background-color: #FF0000;
    padding: 10px 20px;
    border-radius: 5px;
}

