body{
    margin: 0;
    padding: 0;
}

/* Admin Pengaturan */
.container-hero {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.container-pengaturan {
    margin-left: 10%;
    margin-right: 10%;
}

.main-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5%;
}

.header-pengaturan {
    display: flex; 
    justify-content: space-between; 
    text-align: center;
}

.admin-text-hero {
    background-color: #703BF7;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    border-radius: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.form-item label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-item input {
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-item img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-item textarea {
    font-size: 14px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-group-picture {
    width: 50%;
    display: flex;
    gap: 10%;
}

.section-header {
    color: white;
    background-color: #703BF7;
    border-radius: 10px;
    text-align: center;
}

.btn-pengaturan {
    margin-top: 5%;
    margin-bottom: 10%;
}

.btn-ganti {
    display: flex;
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 2%;
}

.ganti-1 {
    background-color: #703BF7;
    border-radius: 10px;
    padding: 1%;
}

.ganti-2 {
    margin-left: 8.5%;
    background-color: #703BF7;
    border-radius: 10px;
    padding: 1%;
}

.btn-simpan {
    background-color: #703BF7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 5px;
    width: 150px;
}

.btn-batal {
    background-color: #FF0000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px;
    width: 150px;
}

/* Admin Tentang */
.form-row-1 {
    display: flex;
    margin-bottom: 15px;
    gap: 1.5%;
}

.gambar_tentang {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
}

.form-row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    justify-content: center;
    gap: 2%;
}

.form-group-1_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: 1px solid black;
}

.form-group-1_2 {
    flex: 2;
}

.gambar-section {
    background-color: #703BF7;
    padding: 3% 20%;
    color: white;
    border-radius: 10px;
}

.form-group-1_2 textarea {
    border-radius: 10px;
    height: 335px;
    width: 100%;
    resize: vertical;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 10px;

}

.form-group-2 {
    flex: 2;
    font-weight: bold;
}

.form-group-2 label{
    font-size: 20px;
    font-weight: bold;
}

.form-group-2 textarea {
    width: 100%;
    border-radius: 10px;
    height: 120px;
    resize: vertical;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 10px;

}

.btn-tentang {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}